
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/Home/Index/15">Goto Home Index</a>
<br />
<a asp-protocol="https" asp-controller="Home" asp-action="Privacy" asp-host="www.microsoft.com">Goto Home Index</a>
<br />
<a asp-controller="Home" asp-action="Privacy" asp-route-id="25">Goto Home Index</a>