
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Users/Views/User_Layout.cshtml";
}

<div class="products">
    <div class="container">
        <h2>ForgotPassword</h2>
        <div class="col-md-8 col-md-offset-2">
            <div class="login-form-grids animated wow slideInUp">
                <span class="text-danger">@ViewBag.error</span>
                @using (Html.BeginForm())
                {
                    <input type="email" name="email" placeholder="Email Address" required=" ">
                    
                    <input type="submit" value="Get OTP">
                }
            </div>
        </div>
    </div>
</div>

