
@{
    ViewData["Title"] = "Success";
    Layout = "~/Areas/Users/Views/User_Layout.cshtml";
}

<div class="products">
    <div class="container">
        <h2>Order Placed Successfully.</h2>
    </div>
</div>

